@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

html,
body,
#main {
  font-family: "Roboto";
  height: 100vh;
  overflow: hidden;
}

li {
  list-style: none;
}

header {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  grid-area: header;
  background-color: rgb(101, 119, 223);
  padding-left: 16px;
}

button {
  height: 32px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"] {
  color: rgb(255, 255, 255);
  background-color: rgb(38, 150, 94);
}

button[type="submit"]:hover {
  background-color: rgb(46, 165, 106);
}

input:focus,
textarea:focus {
  outline: none;
  border: 2px solid rgb(101, 119, 223);
}

nav,
main {
  overflow-y: auto;
}

#open-project-form:hover,
.project-item:hover,
.task-item:hover {
  background-color: rgb(238, 238, 238);
  cursor: pointer;
}

.project-item,
.task-item,
nav > div {
  padding: 8px;
  border-radius: 4px;
}

.edit-task,
.delete-project {
  padding: 2px;
  border-radius: 4px;
}

.edit-task:hover,
.delete-project:hover {
  background-color: rgb(150, 150, 150);
}

#bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
}

#main {
  display: grid;
  grid-template-rows: 64px 10fr;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: "header header" "nav main";
}

/* Projects */
nav {
  padding: 16px;
  grid-area: nav;
  height: 100%;
  background-color: rgb(250, 250, 250);
  box-sizing: border-box;
}

.project-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
}

.selected {
  background-color: rgb(238, 238, 238);
}

/* Project form */
#project-form-container {
  display: none;
}

#project-name {
  width: 100%;
  height: 24px;
}

#project-form-buttons {
  padding-top: 8px;
  display: flex;
  gap: 16px;
}

#project-form-buttons button {
  flex: 1;
}

#close-project-form {
  color: rgb(255, 255, 255);
  background-color: rgb(202, 57, 47);
}

#close-project-form:hover {
  background-color: rgb(209, 73, 64);
}

/* Tasks */
main {
  grid-area: main;
}

#tasks-list,
#open-task-form {
  width: 50vw;
  margin: 8px auto;
}

.task-item {
  display: flex;
  align-items: center;
  margin: 8px 0;
  gap: 8px;
  height: 32px;
}

.low-priority {
  border-left: 4px solid rgb(31, 199, 115);
}

.medium-priority {
  border-left: 4px solid rgb(240, 160, 55);
}

.high-priority {
  border-left: 4px solid rgb(240, 67, 55);
}

.task-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#open-task-form {
  display: none;
  height: 48px;
  border: 2px dashed rgb(150, 150, 150);
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  color: rgb(150, 150, 150);
  box-sizing: content-box;
  cursor: pointer;
}

/* Task form */
#open-task-form:hover {
  background-color: rgba(150, 150, 150, 0.2);
}

#task-form-container {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 16px;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
}

#close-task-form {
  padding: 2px;
}

#close-task-form:hover {
  background-color: rgb(238, 238, 238);
  border-radius: 50%;
  cursor: pointer;
}

#task-form-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
}

#task-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.row {
  display: flex;
  justify-content: space-between;
}

label {
  display: block;
}

#submit-task-button {
  align-self: flex-end;
}

#task-form input[type="text"],
textarea {
  width: 50%;
}

textarea {
  resize: none;
  height: 128px;
}

#task-form input[type="date"],
select {
  width: 30%;
}

#submit-task-button {
  padding: 0 16px;
  text-align: center;
}

/* task details */
#task-details {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
}
